body{
background-image: url("background.jpg");
background-repeat:repeat-x:

}
p#pd{
font-family:calibri, sans-serif;
font-size:40px;
color:red;
text-align:center;
text-transform:uppercase;
font-weight:bold;
}
div#div1{
padding: 10px;

}

p#p2{
font-family:calibri, sans-serif;
font-size:32px;
}

div#div3{
font-family:calibri, sans-serif;
font-size:32px;
}
h2{
color : red;
font-family:calibri, sans-serif;
font-size:35px;
text-decoration: underline overline;

}
div#div4{
font-family:calibri, sans-serif;
font-size:32px;
 border: 10px solid transparent;
border-image: url("patt.jpg")30 round;
}
